.clickable {
	cursor: pointer;
}

.right {
	float: right;
	margin-top: 5px;
}

/*  - - - - - MENU - - - - - */

#shows{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
#shows .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#shows .list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

/*  - - - - - TIMETABLE - - - - - */
#timetable{
	padding-left: 10px;
	padding-right: 10px;
}
#timetable .row {
	margin-right: 0px;
	margin-left: 0px;
}

/*  - - - - - FULL SCREEN LAYOUT - - - - - */
html,body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.full-screen-container {
    /*min-height: 100%;*/
		padding: 67px 0px 0px 0px;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
}
.full-height-item{
	min-height: 100%;
}

.title-item{
	padding: 10px 15px;
}
.list-group{
	-webkit-box-shadow: none;
	box-shadow: none;
	white-space:nowrap;
}
.list-group:last-child {
	padding-right: 0px;
}
