.clickable {
	cursor: pointer;
}

.right {
	float: right;
	margin-top: 5px;
}
.simpletext{
	padding: 10px 15px;
}/*
::-webkit-scrollbar {
    width: 0px;
}*/
/*  - - - - - MENU - - - - - */

#shows{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
#shows .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#shows .list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
.user-picture-small{
	display: block;
}
/*  - - - - - TIMETABLE - - - - - */
#timetable{
	padding-left: 10px;
	padding-right: 10px;
	background-color: #390444;
}
#timetable h2{
	color: #FFF;
}
#timetable .row {
	margin-right: 0px;
	margin-left: 0px;
}
.row-placement{
	padding-left: 15px;
}

/* - - - - - CART - - - - - */
#cart{
	background-color: #390444;
}
#cart h1, h2, h3, h4, h5 {
	color: #FFF;
}
/*  - - - - - FULL SCREEN LAYOUT - - - - - */
html,body {
  min-height: 100%;
  padding: 0;
  margin: 0;
}
.full-screen-container {
    /*min-height: 100%;*/
		padding: 80px 0px 0px 0px;
	  position: absolute;
	  top: 0;
	  bottom: 0;
	  left: 0;
	  right: 0;
}

.full-height-item{
	min-height: 100%;
}

.title-item{
	padding: 10px 15px;
}
.list-group{
	-webkit-box-shadow: none;
	box-shadow: none;
	white-space:nowrap;
}
.list-group:last-child {
	padding-right: 0px;
}

.container-full {
    margin: 0 auto;
    width: 100%;
    /*padding-right: 0px; side jump fix*/
    padding-left: 0px;
}

.navbar {
    margin-bottom: 0px;
}

.list-group-item {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

* {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    background-image: none;
}

.btn-abort {
	float: left;
}

#price-label {
	text-align: center;
}

/* CUSTOMER */

#customer-list{
	/* Karnevalistfärg */
	background-color: #f7629c;

	/*background-color: #d999fa;*/
	color: #FFF;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.customer-item{
	background-color: #ff74aa;
	border-color: #f7629c;
	color: #FFF !important;
}
a.customer-item:hover, button.customer-item:hover, a.customer-item:focus, button.customer-item:focus {
  color: #FFF;
  text-decoration: none;
  background-color: #f35d98;
}
.form-control{
	height: 42px;
}
/* ORDERS */
#order-list{
	background-color: #f78fb0;
	color: #FFF;
	padding-left: 0px !important;
	padding-right: 0px !important;
}
.order-item{
	background-color: #ff74aa;
	border-color: #f78fb0;
	color: #FFF !important;
}
a.order-item:hover, button.order-item:hover, a.order-item:focus, button.order-item:focus {
  color: #FFF;
  text-decoration: none;
  background-color: #f9aaaf;
}
.link-order-button{
	margin-top: 25px !important;
}
.customer-name{
	border-top: 1px solid #FFF;
	border-bottom: 1px solid #FFF;
	margin-top: 0px;
}
#customer-name-box{
	padding: 0px;
}
#customer-name-box h3{
	margin-top: 15px;
	margin-bottom: 15px;
}
#edit-customer{
	text-align: right;
	padding: 0px;
}
#edit-customer h4{
	margin-top: 18px;
	margin-bottom: 19px;
}
/* Skapa ny kund */
#create-customer-item{
	background-color: #f15894;
	border-color: #de4984;
	color: #FFF !important;
}
a#create-customer-item:hover, button#create-customer-item:hover, a#create-customer-item:focus, button#create-customer-item:focus {
  color: #FFF;
  text-decoration: none;
  background-color: #e64f8a;
}
#createCustomerModal{
	color:#000;
}
#createCustomerModal label{
	margin: 10px 0px;
}

/* Greetings modal */
.modal-header h4, h5{
	color: #000;
}

.paid {
	color: green;
}

/* Ticket matrix */
#ticket-modal{
	width:800px;
}
#ticket-modal select, #ticket-modal input {
	border: 1px solid #ddd;
	height: 26px;
	-moz-appearance: none;
	text-align: left;
}
.table-bordered,
.table > thead:first-child > tr:first-child > th,
.table-bordered > tbody > tr > td{
	border: none;
}
.table-bordered > thead > tr,
.table-bordered > tbody > tr,
.table-bordered > tbody > tr > th{
	border:none;
  border-bottom: 1px solid #d0d0d0!important;
}
.styled-select {
   background: url(images/arrow.png) no-repeat 96% 0;
   overflow: hidden;
   width: 40px;
	 border: 1px solid #d0d0d0;
}
/* Profile selector */
#profile-select select{
	border: none;
	background: url(images/arrow.png) no-repeat 96% 0;
	background-color: #8a4797;
	color: white;
	height: 30px;
	width: 80px;
	padding: 5px;
	-moz-appearance: none;
	text-align: left;
}
