.clickable {
	cursor: pointer;
}

.right {
	float: right;
	margin-top: 5px;
}
/*  - - - - - MENU - - - - - */
#shows{
	padding-left: 0px!important;
	padding-right: 0px!important;
}
#shows .list-group-item:first-child {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}
#shows .list-group-item:last-child {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#timetable{
	padding-left: 10px;
	padding-right: 10px;
}

#timetable .row {
	margin-right: 0px;
	margin-left: 0px;
}
html, body {
    height: 100%;
}
.container-fluid {
    height: 100%;
    min-height: 100%;
}
.container-fluid .row {
    height: 100%;
    min-height: 100%;
}
.ng-scope{
	height: 100%;
	min-height: 100%;
}
.full-height{
	height: 100%;
	min-height: 100%;
}
.title-item{
	padding: 10px 15px;
}
.list-group{
	-webkit-box-shadow: none;
	box-shadow: none;
}
.list-group:last-child {
	padding-right: 0px;
}
