<!DOCTYPE html>
<html ng-app="lkticket.admin" lang="en">
<head>
<title>LKTicket Desk</title>

<meta name="description"
	content="Försäljningsgränssnitt för Lundakarnevalens biljettsystem" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta property="og:image" content="/images/thumbnail.png" />

<link rel="icon" href="/images/icons/default.png"
	type="image/vnd.microsoft.icon" />

<!-- Angular -->
<script src="/bower_components/angular/angular.min.js"></script>
<script src="/bower_components/angular-route/angular-route.min.js"></script>
<script
	src="/bower_components/angular-xeditable/dist/js/xeditable.min.js"></script>
<link rel="stylesheet" type="text/css"
	href="/bower_components/angular-xeditable/dist/css/xeditable.min.css" />

<!-- JQuery -->
<script src="/bower_components/jquery/dist/jquery.min.js"></script>

<!-- The Chosen Library -->
<script src="/bower_components/chosen/chosen.jquery.js"></script>
<link rel="stylesheet" type="text/css"
	href="/bower_components/chosen/chosen.css" />
<script src="/bower_components/angular-chosen/angular-chosen.js"></script>

<!-- Bootstrap -->
<link rel="stylesheet" type="text/css"
	href="/bower_components/bootstrap/dist/css/bootstrap.css" />
<link rel="stylesheet" type="text/css"
	href="/bower_components/bootstrap/dist/css/bootstrap-theme.css" />
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- ng-file-upload -->
<script
	src="/bower_components/ng-file-upload/ng-file-upload-shim.min.js"></script>
<script src="/bower_components/ng-file-upload/ng-file-upload.min.js"></script>

<!-- Font Awesome -->
<link rel="stylesheet" type="text/css"
	href="/bower_components/font-awesome/css/font-awesome.min.css" />

<!-- Fonts -->
<link
	href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700,700i&subset=latin-ext"
	rel="stylesheet" />

<!-- Locale -->
<script src="/bower_components/angular-i18n/angular-locale_sv-se.js"></script>

<!-- App -->
<link rel="stylesheet" type="text/css" href="/x.css" />
<link rel="stylesheet" type="text/css"
	href="https://gitcdn.xyz/repo/pi0/clippyjs/master/assets/clippy.css">
<script src="/x.js"></script>
<script src="/js/env.js"></script>

<script src="bower_components/angular-filter/dist/angular-filter.min.js"></script>
<script src="bower_components/lodash/lodash.js"></script>

<script src="https://unpkg.com/clippyjs@latest"></script>

</head>
<body ng-controller="LoginCtrl" class="page-{{route.current.pagetype}}">

	<nav class="navbar navbar-green">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
					aria-expanded="false">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"><img
					src="/images/logo/tag-w.png" alt="LKTicket Desk" /></a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="menu-link nav navbar-nav" ng-if="userStatus('LOGGED_IN')">
					<li><a href="#/"><i class="fa fa-fw" aria-hidden="true"
							title="Copy to use calendar-o"></i><br />Föreställningar</a></li>
					<li><a href="#/reservations"><i class="fa fa-fw"
							aria-hidden="true" title="Copy to use ticket"></i><br />Reservationer</a></li>
					<li><a href="#/customers"><i class="fa fa-fw"
							aria-hidden="true" title="Copy to use users"></i><br />Kunder</a></li>
					<li><a href="#/reports"><i class="fa fa-fw"
							aria-hidden="true" title="Copy to use file-text-o"></i><br />Rapporter</a></li>
					<li><a href="#/settings"><i class="fa fa-fw"
							aria-hidden="true" title="Copy to use gear"></i><br />Inställningar</a></li>
				</ul>
				<form class="navbar-form navbar-left"
					ng-if="userStatus('LOGGED_IN')">
					<!-- 					<div class="form-group"> -->
					<!-- 						<input type="text" class="form-control" -->
					<!-- 							placeholder="Bokningsnummer, kund namn"> -->
					<!-- 					</div> -->
					<!-- 					<button type="submit" class="btn btn-default">Sök</button> -->
				</form>
				<ul class="nav navbar-nav navbar-right">
					<li>Skrivare: {{selectedPrinter().name || 'Ingen vald skrivare'}}</li>
					<li class="level-one"><profile-selector></profile-selector><li class="level
					-one" ng-show="userStatus('ERROR')"><i
						class="fa fa-lg fa-warning"></i></li>
					<li class="level-one" ng-show="userStatus('WORKING')"><i
						class="fa fa-lg fa-spin fa-refresh"></i></li>
					<li class="boxed-link level-one user-display"
						ng-show="userStatus('LOGGED_IN')"><img
						class="user-picture-small" ng-src="{{user().picture}}" /> <a
						class="clickable dropdown-toggle" data-toggle="dropdown">{{user().name
							|| user().email}}</a>
						<ul class="dropdown-menu">
							<li class="clickable menu-item" ng-click="switchUser()"><i
								class="fa fa-exchange"></i> Växla användare</li>
							<li class="clickable menu-item" ng-click="logout()"><i
								class="fa fa-sign-out"></i> Logga ut</li>
						</ul></li>
					<li class="boxed-link level-one login-button"
						ng-show="userStatus('LOGGED_OUT')"><a href="{{loginURL()}}"
						role="button">Logga in</a></li>
				</ul>
				<!--
                    <ul class="nav navbar-nav navbar-right">
                        <li class="level-one" ng-show="userStatus('ERROR')">
                            <i class="fa fa-lg fa-warning"></i>
                        </li>
                        <li class="level-one" ng-show="userStatus('WORKING')">
                            <i class="fa fa-lg fa-spin fa-refresh"></i>
                        </li>
                        <li class="level-one user-display"
                            ng-show="userStatus('LOGGED_IN')">
                            <img class="user-picture-small" ng-src="{{user().picture}}" /> <a class="clickable dropdown-toggle" data-toggle="dropdown">
                                {{
user().name
							|| user().email
                                }}
                            </a>
                            <ul class="dropdown-menu">
                                <li class="clickable" ng-click="switchUser()">
                                    <i class="fa fa-exchange"></i> Växla användare
                                </li>
                                <li class="clickable" ng-click="logout()">
                                    <i class="fa fa-sign-out"></i> Logga ut
                                </li>
                            </ul>
                        </li>
                        <li class="level-one login-button"
                            ng-show="userStatus('LOGGED_OUT')">
                            <a href="{{loginURL()}}"
                               role="button">Log in</a>
                        </li>
                    </ul> -->
			</div>
			<!-- /.navbar-collapse -->
		</div>
		<!-- /.container-fluid -->
	</nav>
	<div class="container container-full">
		<div class="row" ng-if="userStatus('LOGGED_IN')" ng-view></div>
		<!-- TODO Analytics -->
	</div>

</body>
</html>
