<div id="{{uid}}" class="modal fade" role="dialog">
	<div id="ticket-modal" class="modal-dialog">
		<div class="modal-content">
			<form id="cat.name" ng-model="tickets">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4 class="modal-title">{{$ctrl.showname.name}} -
						{{$ctrl.selectedperformance.start | date : 'EEEE d MMMM yyyy
						HH:mm'}}</h4>
				</div>
				<div class="modal-body" style="max-height: 70vh; overflow-y: auto;">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th></th>
								<th colspan="2" ng-repeat="cat in $ctrl.modaldata.categories">{{cat.name}}
									<span class="label label-danger" ng-show="available(cat)==0">Slut</span>
									<span class="label" ng-show="available(cat)"
									ng-class="{
									'label-warning':available(cat)< 10,'label-success':available(cat) >= 10}">{{available(cat)}}</span>
								</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="rate in $ctrl.modaldata.rates">
								<th scope="row">{{rate.name}}</th>
								<td ng-repeat-start="cat in $ctrl.modaldata.categories">
									<div ng-if="getPrice(rate.id, cat.id)">{{calculatePrice(getPrice(rate.id,
										cat.id).price)}} kr</div>
								</td>
								<td ng-repeat-end>
									<div class="input-group ticket-count"
										ng-if="getPrice(rate.id, cat.id)">
										<span class="input-group-btn">
											<button class="btn btn-secondary" type="button"
												ng-click="addTickets(rate.id, cat.id, -1)"
												ng-disabled="available(cat)==0">
												<i class="fa fa-minus"></i>
											</button>
										</span> <input type="text" class="form-control" placeholder="0"
											ng-model="getPrice(rate.id, cat.id).count"
											ng-disabled="available(cat)==0"> <span
											class="input-group-btn">
											<button class="btn btn-secondary" type="button"
												ng-click="addTickets(rate.id, cat.id, 1)"
												ng-disabled="available(cat)==0">
												<i class="fa fa-plus"></i>
											</button>
										</span>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="modal-footer">
					<button type="button"
						class="material-btn btn btn-default btn-abort"
						data-dismiss="modal" ng-click="">Avbryt</button>
					<button type="button" class="material-btn btn btn-default"
						data-dismiss="modal" ng-click="addTicketsToCart()">Lägg i
						kundvagn</button>
				</div>
			</form>
		</div>
	</div>
</div>
