<div>
  <add-tickets-modal uid="cartModal" modaldata="modaldata" prices="prices" selectedperformance="selectedPerformance" showname="show"></add-tickets-modal>
    <!--<span>{{$ctrl.cart.cartObject.identifier}}</span>-->
  <ul class="list-group" ng-repeat="(key, value) in $ctrl.cart.tickets | groupBy: 'performance_id'">
    <li class="list-group-item active">
      {{value[0].show_name}} - {{value[0].performance_start
      | timestamp | date : 'EEE HH:mm'}}
      <button ng-click = "editShow(value)" class="badge badge-info" data-toggle="modal" data-target="#cartModal">Ändra</button>
    </li>
    <div ng-repeat="(key2, value2) in value | groupBy: 'category_id'">
      <li class="list-group-item" ng-repeat="(key3, value3) in value2 | groupBy: 'rate_id'">
        {{value3[0].rate_name}} - {{value3[0].category_name}} - {{value3.length}}x{{value3[0].price}}
      </li>
    </div>
  </ul>

  <h1 style="color: #000">{{$ctrl.cart.totalPrice}} kr</h1>

  <button type="button" class="btn" ng-click="reload()">Ny kund</button>
  <button type="button" class="btn" ng-click="pay()">Betala</button>

</div>
