<!-- Modal -->
<add-tickets-modal uid="showlistmodal" modaldata="modaldata"
	prices="prices" selectedperformance="selectedPerformance"
	showname="show"></add-tickets-modal>
<h2 class="title-item">
	{{show.name}}
	</h1>
	<loading-screen value="{{show.dates}}"></loading-screen>
	<div class="row">
		<div class="list-group col-md-4"
			ng-repeat="(date, performances) in show.dates">
			<div class="list-group-item active">{{date | date : 'EEEE d
				MMMM yyyy'}}</div>
			<button data-toggle="modal" data-target="#showlistmodal"
				class="list-group-item" ng-repeat="performance in performances"
				ng-click="setSelectedPerformance(performance)">{{performance.start
				| date : 'HH:mm'}}</button>
		</div>
	</div>