<div class="container-fluid full-screen-container">
	<!--<div class="row">-->

	<div class="col-sm-9">
		<h2 style="margin-bottom:25px;">Favoriter</h2>
		<div class="list-group col-md-4 row-placement row">
			<div class="list-group-item active">Karnevelj</div>
			<button class="list-group-item" type="button" name="button" ng-click="addTicketsToCart(1,1,1)">Show + Eftersläpp</button>
			<button class="list-group-item" type="button" name="button" ng-click="addTicketsToCart(2,1,1)">Eftersläpp</button>
		</div>
	</div>

	<div id="cart" class="col-sm-3 full-height-item scrollableInY">
		<cart> </cart>
	</div>
	<!--  </div>-->
</div>
