<div class="container-fluid full-screen-container">
	<!--<div class="row">-->

	<div class="col-sm-9">
		<h1 class="title-item">Favoriter</h1>
		<div class="list-group col-md-4 row-placement row">
			<div class="list-group-item active">Karnevelj</div>
			<button class="list-group-item" type="button" name="button" ng-click="addTicketsToCart(10,24,21)">Karnevelj - Show + Eftersläpp</button>
			<button class="list-group-item" type="button" name="button" ng-click="addTicketsToCart(11,24,21)">Karnevelj - Eftersläpp</button>
		</div>
	</div>

	<div id="cart" class="col-sm-3 full-height-item scrollableInY">
		<cart> </cart>
	</div>
	<!--  </div>-->
</div>
