<div class="container-fluid full-screen-container">
	<div id="customer-list" class="col-sm-3 full-height-item">
		<h2 class="title-item">Kunder</h2>
		<button id="create-customer-item" class="list-group-item"
			data-toggle="modal" data-target="#createCustomerModal" type="button"
			class="btn" ng-click="">Skapa ny kund</button>

		<div id="createCustomerModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<form id="category.name" ng-model="tickets">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title">Skapa ny kund</h4>
						</div>
						<div class="modal-body">
							<form>
								<div class="form-group">
									<label for="formGroupExampleInput">Namn</label> <input type="text"
										ng-model="customer.name" type="text" class="form-control"
										id="formGroupExampleInput" placeholder="Namn och Efternamn">
									<label for="formGroupExampleInput2">Mailadress</label> <input
										type="email" ng-model="customer.email" type="text" class="form-control"
										id="formGroupExampleInput2" placeholder="Mailadress">
									<label for="formGroupExampleInput2">Företag</label> <input
										ng-model="customer.company" type="text" class="form-control"
										id="formGroupExampleInput2" placeholder="Företag">
									<label for="formGroupExampleInput2">Telefonnummer</label> <input
										ng-model="customer.phone" type="tel" class="form-control"
										id="formGroupExampleInput2" placeholder="Telefonnummer">
									<label for="formGroupExampleInput2">Kontaktperson i
										Lundakarnevalen</label> <input ng-model="customer.contactPerson"
										type="text" class="form-control" id="formGroupExampleInput2"
										placeholder="Namn och Efternamn">
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default btn-abort"
								data-dismiss="modal" ng-click="">Avbryt</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal" ng-click="createCustomer(customer)">Spara
								kund</button>
						</div>
					</form>
				</div>

			</div>
		</div>
		<div class="list-group">
			<button href="" class="list-group-item customer-item"
				ng-click="getCustomer(customer.id)"
				ng-repeat="customer in customers | orderBy:'name'">{{customer.name}}</button>
		</div>
	</div>
	<div id="order-list" class="col-sm-6 full-height-item">
		<h2 class="title-item">Kundinformation</h2>
		<div class="col-sm-12 customer-name">
			<div id="customer-name-box" class="col-sm-6">
				<a href="#" editable-text="selectedCustomer.name" onaftersave="updateCustomer()"><h3>{{selectedCustomer.name ||
				"Ingen kund vald"}}</h3></a>
			</div>
			<div id="edit-customer" class="col-sm-6"><h4><a href="#">Redigera kund</a></h4></div>
		</div>
		<div style="margin-top: 90px;">
		<span class="title-item">Telefonnummer:
			<a href="#" editable-text="selectedCustomer.phone" onaftersave="updateCustomer()">{{selectedCustomer.phone || ""}}</a></span>
		<span class="title-item">Mail: <a href="#" editable-text="selectedCustomer.email" onaftersave="updateCustomer()">{{selectedCustomer.email || ""}}</a></span>
		</div>
		<h3 class="title-item">Bokningar</h3>
		<button href="" class="list-group-item order-item"
			ng-click="selectOrder(order.id)"
			ng-repeat="order in selectedCustomer.orders">

			<div class="row">
				<div class="col-sm-10">
					Ref:
					{{order.identifier}} | Skapad: {{order.created | date :
					"dd/MM/yyyy"}}
				</div>

				<div class="col-sm-2">
					<span ng-class = "{'paid' : order.payment_id > 0}"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span></span>
				</div>
			</div>

		</button>
			<button class = "link-order-button order-item btn btn-secondary btn-lg btn-block" type="button"
					name="button" ng-if = "selectedCustomer" ng-click="" ng-hide ="true">Skapa ny bokning åt kund</button>
				<button class = "link-order-button order-item btn btn-secondary btn-lg btn-block" type="button"
					name="button" ng-if = "selectedCustomer" ng-disabled = "cart.customer_id > 0" ng-click="assignCartToCustomer()">Koppla nuvarande bokning åt kund</button>

	</div>
	<div id="cart" class="col-sm-3 full-height-item scrollableInY">
		<cart> </cart>
	</div>
</div>
