<div class="container-fluid full-screen-container">
	<!--<div class="row">-->
	<div id="shows" class="scrollableInY col-sm-2 full-height-item showMenu"
		ng-controller="ShowsCtrl as showCtrl">
		<h2 class="title-item">Nöjen</h2>
		<loading-screen value="{{shows}}"></loading-screen>
		<div class="list-group">
			<button href="" class="show-marker list-group-item"
				ng-click="selectShow(show.id)" ng-repeat="show in shows | orderBy: 'name'">{{show.name}}</button>
		</div>
	</div>
	<div id="timetable" class="scrollableInY col-sm-7 full-height-item">
		<show-list sid="{{selected}}"></show-list>
	</div>
	<div id="cart" class="col-sm-3 full-height-item scrollableInY">
		<cart> </cart>
	</div>
	<!--  </div>-->
</div>
